<header>
    <nav>
        <a href="{{path('home')}}" class="logo"> &#10084</a>

        <section class="menu" id="menu">
            <div class="menu-list">
                <ul>
                    <li><h3 class="tab-links" data-tabname="homme">Homme</h3></li>
                    <li><h3 class="tab-links" data-tabname="femme">Femme</h3></li>
                    <li><h3 class="tab-links" data-tabname="enfant">Enfant</h3></li>
                    <li><h3 class="tab-links" data-tabname="autres">Autres</h3></li>
                </ul>
            </div>                        
        </section>


        <div class="user">
            <img id="userIcon" src="{{asset ('build/images/icons/user-icone.svg')}}" alt="Icone utilisateur">
            
        </div>
        <div class="cart-shop">
            <img id="shoppingIcon" src="{{asset ('build/images/icons/shopping-bag.svg')}}" alt="Icone panier">
        </div>
        <div class="user-menu">
            <ul>
                {% if is_granted('ROLE_USER') %}
                <div class="user-granted">{{ app.user.fullname }}</div>
                <li><a href="{{ path('user') }}">Votre compte</a></li>
                <li><a href="{{ path('user_commande') }}">Mes commandes</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="#">Administration</a></li>
                {% endif %}
                {% else %}
                <li><a href="{{ path('signup') }}">S'inscrire</a></li>
                <li><a href="{{ path('login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="under-menu">
        <div class="tab-contents" id="homme">
            <ul>
                    <li>un peu de texte test homme</li>
                    <li>un peu de texte test homme</li>
                    <li>un peu de texte test homme</li>
                    <li>un peu de texte test homme</li>
                    <li>un peu de texte test homme</li>
                    <li>un peu de texte test homme</li>
                    <li>un peu de texte test homme</li>
                    <li>un peu de texte test homme</li>
            </ul>
            </div>

            <div class="tab-contents" id="femme">
                <ul>
                    <li>un peu de texte test femme</li>
                    <li>un peu de texte test femme</li>
                    <li>un peu de texte test femme</li>
                    <li>un peu de texte test femme</li>
                    <li>un peu de texte test femme</li>
                    <li>un peu de texte test femme</li>
                    <li>un peu de texte test femme</li>
                    <li>un peu de texte test femme</li>
                </ul>
            </div>

            <div class="tab-contents" id="enfant">
                <ul>
                    <li>un peu de texte test enfant</li>
                    <li>un peu de texte test enfant</li>
                    <li>un peu de texte test enfant</li>
                    <li>un peu de texte test enfant</li>
                    <li>un peu de texte test enfant</li>
                    <li>un peu de texte test enfant</li>
                    <li>un peu de texte test enfant</li>
                    <li>un peu de texte test enfant</li>
                </ul>
            </div>

            <div class="tab-contents" id="autres">
                <ul>
                    <li>un peu de texte test autres</li>
                    <li>un peu de texte test autres</li>
                    <li>un peu de texte test autres</li>
                    <li>un peu de texte test autres</li>
                    <li>un peu de texte test autres</li>
                    <li>un peu de texte test autres</li>
                    <li>un peu de texte test autres</li>
                    <li>un peu de texte test autres</li>
                </ul>
            </div>
    </div>
    
</header>