{% extends 'base.html.twig' %}
{% block title %}{{ category | capitalize }}s ({{ totalProducts }}){%endblock %}
{% block body %}
<div class="product-header">
    <h2>{{ category | capitalize }}s ({{ totalProducts }})</h2>
</div>
<div class="product-content">
    <div class="product-menu">
        <nav></nav>
    </div>

    <div class="product-cart">
        {% for product in products %}
        <div class="cart">
            <a href="{{ path('product_show', {id: product.id, 'productName': product.name, 'category': category, 'gender': gender }) }}">

                <div class="product-img">
                    {% for loopIndex, image in product.images %}
                    <img src="{{ asset('uploads/products/' ~ image.name) }}" {% if loopIndex> 0 %}style="display:
                    none;"{% endif %} />
                    {% endfor %}
                </div>
                <div class="product-description">
                    <ul>
                        <li>{{ product.name }}</li>
                        <li>{{ (product.price / 100) | number_format(2, ', ' ) }} € </li>
                    </ul>

                </div>
            </a>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}