{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock%}
{% block body %}

<div class="user-body">
  {% include "includes/userMenu.html.twig" %}
  

  <div class="user-content">
    <div class="adress-content">
      <div class="add-new-adress">
        <div class="go-back">
            <a href="{{path('user_adress')}}">
                <img src="{{asset ('build/images/icons/circle-xmark-regular.svg')}}" alt="">
            </a>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
      </div>
    </div>
    <div class="adress-show">
      {% for description in descriptions %} {#
      {{ description.birthdate | format_datetime(pattern= 'd MM Y', locale='fr') }}
      <br />
      #}
      <div class="adress">
        <div class="remove-update-description">
          <div class="update-description">
            <a href="{{path('edit-description', {'id': description.id}) }}"><img src="{{asset ('build/images/icons/pen-to-square-regular.svg')}}" alt=""></a>
          </div>
          <div class=""></div>
          <div class="remove-description">
            <a href="{{path('remove-description', {'id': description.id}) }}" class=""><img src="{{asset ('build/images/icons/circle-xmark-regular.svg')}}" alt=""></a>
          </div>
        </div>
        {{ app.user.fullname }} <br />
        {{ description.adress }} <br />
        {{ description.city }}, {{ description.postalcode }} <br />
        {{ description.country }} <br />
        Numéros de téléphone : {{ description.phone }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}