
{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock%}
{% block body %}

<div class="user-body">
  {% include "includes/userMenu.html.twig" %}


  <div class="user-content">
    <div class="adress-content">
      <div class="add-new-adress">
        <div class="go-back">
            <a href="{{path('user_adress')}}">
                <img src="{{asset ('build/images/icons/circle-xmark-regular.svg')}}" alt="">
            </a>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
      </div>
    </div>
    <div class="adress-show">
      {% for adress in adresss %} {#
      {{ description.birthdate | format_datetime(pattern= 'd MM Y', locale='fr') }}
      <br />
      #}
      <div class="adress">
        <div class="remove-update-adress">
          <div class="update-adress">
            <a href="{{path('edit_adress', {'id': adress.id}) }}"><img src="{{asset ('build/images/icons/pen-to-square-regular.svg')}}" alt=""></a>
          </div>
          <div class=""></div>
          <div class="remove-adress">
            <a href="{{path('remove_adress', {'id': adress.id}) }}" class=""><img src="{{asset ('build/images/icons/circle-xmark-regular.svg')}}" alt=""></a>
          </div>
        </div>
        {{ app.user.fullname }} <br />
        {{ adress.adress }} <br />
        {{ adress.city }}, {{ adress.postalcode }} <br />
        {{ adress.country |country_name ('fr')}} <br />
        Numéros de téléphone : {{ adress.phone }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}