{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock%}
{% block body %}

<div class="user-body">
  <div class="user-menu">
    <nav>
      <a href="{{path('changePassword')}}">Changer le Mot de passe</a>
      <a href="{{path('user_adress')}}">Adresse de livraison</a>
    </nav>
  </div>

  <div class="user-content">
    <div class="adress-content">
      <div class="add-new-adress">
        <div class="add">
          <img src="{{asset ('build/images/icons/plus-solid.svg')}}" alt="">
        </div>
        <h3>Ajouter une adresse</h3>
      </div>
      <div class="modal-content">

        {% if form is defined %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
    {% endif %}

      </div>

    </div>
    <div class="adress-show">
      {% for description in descriptions %} {#
      {{ description.birthdate | format_datetime(pattern= 'd MM Y', locale='fr') }}
      <br />
      #}
      <div class="adress">
        <div class="remove-update-description">
          <div class="update-description">
            <a href="{{path('edit-description', {'id': description.id}) }}"><img src="{{asset ('build/images/icons/pen-to-square-regular.svg')}}" alt=""></a>
          </div>
          <div class=""></div>
          <div class="remove-description">
            <a href="{{path('remove-description', {'id': description.id}) }}" class=""><img src="{{asset ('build/images/icons/circle-xmark-regular.svg')}}" alt=""></a>
          </div>
        </div>
        {{ app.user.fullname }} <br />
        {{ description.adress }} <br />
        {{ description.city }}, {{ description.postalcode }} <br />
        {{ description.country }} <br />
        Numéros de téléphone : {{ description.phone }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
